*{
  font-family: "Open Sans";
}
.active{
  color: #d64937!important;
}

.pushy i:before{
  margin-right: 10%;
}

.pushy {
  font-size: 9.5pt;
  position: fixed;
  width: 255px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

#first-link{
  margin: 25% 0 22px 0;
  padding-left: 0;
}

#last-link{
  margin: 0 0 0 0;
  padding-top: 0;
}

#lastLink{
  margin-bottom: 12px;
}

.pushy a {
  display: block;
  color: #9c9c9c;
  padding: 15px 20px;
  text-decoration: none;
}

.pushy a:hover {
  color: #d64937;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-255px, 0, 0);
  -ms-transform: translate3d(-255px, 0, 0);
  transform: translate3d(-255px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(255px, 0, 0);
  -ms-transform: translate3d(255px, 0, 0);
  transform: translate3d(255px, 0, 0);
}

.pushy-open-left .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container, .pushy, .push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Submenu Appearance */
.pushy-submenu ul {
  list-style-type: none;
  padding-left: 30px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
  width: 100%;
  color: #9c9c9c;
  padding: 16px 30px;
  padding-left: 20px;
  text-align: left;
  background: transparent;
  border: 0;
}

.pushy-submenu button:hover {
  color: #d64937;
}

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 6px;
  width: 10px;
  position: absolute;
  top: 58%;
  right: 26px;
  background: url("../images/arrow.png") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.pushy-link{
  padding: 12px 0 12px 0;
  height: 43px;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open ul {
  max-height: 900px;
  visibility: visible;
}

.pushy-submenu-open .pushy-link {
  opacity: 1;
}

/* Button Animation */
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}